nav{
    background-color: black;  
}
nav a{
    color: whitesmoke;
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}
nav a:hover{
    background-color: rgb(94, 94, 94);
}